.highlights {
  width: 100%;
  height: 761px;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  .content {
    width: 1110px;
    height: 441px;
    padding-top: 55px;
    margin-top: 165px;
  }
}
.left-side {
  width: 445px;
  margin-right: 125px;

  position: relative;
  img {
    position: absolute;
    top: -55px;
  }
  h2 {
    font-size: rem(40px);
    line-height: 56px;
    margin-bottom: 16px;
    letter-spacing: -0.5px;
  }
  p {
    font-size: rem(18px);
    line-height: rem(30px);
    letter-spacing: -0.225px;
  }
}

.items-list li {
  width: 540px;
  margin-bottom: 49px;
  justify-content: space-between;
  .image {
    position: relative;
    img {
      width: 128px;
      height: 96px;
    }
  }
  h3 {
    font-size: rem(18px);
    letter-spacing: -0.22px;
    margin-bottom: rem(18px);
  }
  p {
    width: 350px;
    line-height: rem(28px);
    font-size: rem(15px);
    letter-spacing: -0.1875px;
  }
}

.line {
  position: absolute;
  width: 32px;
  height: 1px;
  top: 18px;
  right: -32px;
  background: #9e7f66;
}

@media (max-width: 375px) {
  .highlights {
    height: 1720px;
    padding: 16px;
    .content {
      width: 100%;
      height: 100%;
      flex-direction: column;
      margin-top: 72px;
      padding-bottom: 32px;
    }
  }
  .left-side {
    width: 100%;
    text-align: center;
    margin-bottom: 64px;
    img {
      width: 71px;
      height: 7px;
      position: relative;
    }
    h2 {
      font-size: rem(32px);
      line-height: 40px;
      margin-bottom: 16px;
      letter-spacing: -0.4px;
    }
    p {
      font-size: rem(15px);
      line-height: rem(25px);
      letter-spacing: -0.19px;
    }
  }

  .items-list li {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 48px;
    .image {
      img {
        width: 327px;
        height: 245px;
        margin-bottom: 32px;
      }
    }
    h3 {
      margin-bottom: rem(18px);
    }
    p {
      margin-bottom: 24px;
    }
  }

  .line {
    display: none;
  }
}
